@import url("https://fonts.cdnfonts.com/css/inter");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.black-gradient {
  background: rgb(217, 217, 217);
  background: linear-gradient(
    360deg,
    rgba(217, 217, 217, 0) 40%,
    rgba(0, 0, 0, 1) 100%
  );
}