.hero-perks-h4{
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;

color: #000000;


}

.hero-perks-p{
    color: #000000;
    font-weight:300;
    font-size: 12px;
}

.icon-container{
    position: absolute !important;
    z-index: 10;
    left: -15px !important;
    top: 90px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: #000000;
    transition: all !important;
    transition-duration: 300ms !important;
  }
  
  
  
  .icon-container:hover{
    transform: scale(1.2) !important;
  }
  
  .icon-container-2{
    position: absolute !important;
    z-index: 10;
    right: -15px !important;
    top: 90px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    background-color: #000000;
    transition: all !important;
    transition-duration: 300ms !important;
  }
  
  .icon-container-2:hover{
    transform: scale(1.2) !important;
  }
  
  @media screen and (max-width: 768px) {
    .icon-container {
      display: none !important;
    }
  
    .icon-container-2{
      display: none !important;
    }
  }

